*{
    border: 0;
    margin: 0;
    padding: 0;
}


.barra-envio{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.8rem;
}

.contenedor-superior{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 100%;
}

.contenedor-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
}


.buscador{
    border: 1px solid #841030;
    border-radius: 10px;
    padding: 5px;
    background-image: url(../img/prime_search.svg);
    background-repeat: no-repeat;
    background-position: 95% ;
}

.buscador::placeholder{
    font-weight: bold;
    opacity: 0.5;
    color: #841030;
}

.buscador:focus{
    outline: none ;
}

.contenedor-utilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.barra-navegacion{
    background-color: #FDFAFF;
}

.lista{
    display: flex;
    list-style: none;
    gap: 60px;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}

.item a{
    text-decoration: none;
}

.item a:visited  {
    color: #000;
  }

 











































































































































































 /* Footer Lucas */

footer{
    background-color: #F2BDD0 ;
}

.contenedor-footer{
    display: flex;
    justify-content: end;
    width: 80%;
    margin: auto;
}


.f-listaopt{
    text-align: end;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3%;
    font-size: 125%;
   /*  font-weight: 600; */
    gap: 10%;
}

.f-AyudaList{
    list-style: none;
    font-size: 75%;
    padding-top: 10%; 
}

.f-AyudaList li{
    padding: 5% 0;
}

.f-ServText{
    padding: 5% 0;
    font-size: 75%;
}

.f-EnviosText{
    font-size: 75%;
    padding: 5% 0;
}

.f-Subtitulo{
    font-weight: bold;
}

.f-logo{
    width: 15%;
    height: auto;
    padding-top: 2%;
}


.f-contact-info{
    padding: 20% 0%;
    
}

.f-fb-icon{
    width: 17%;
    height: auto;
}


