* {
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto' ;
    background-color: #fff;
}


.container{
    background-color: #ffc0cb;
}

.barra-envio{
    display: flex;
    background-color: #ffc0cb;
    color: #3f3f40;
    width: 100%;
    padding: 2px;
    justify-content: center;
    max-width: 1250px;
    margin: auto;
}

.flex-left{
    flex: 1;
}

.flex-right{
    flex: 1;
}

.nav{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-left li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.nav-left{
    justify-content: flex-start;
}

.social-icons{
    display: inline-block;
    vertical-align: middle;
}

.link{
    text-decoration: none;
}

.link:visited{
    color: #000;
}

.phone-icon{
    height: 16px;
}

.phone{
    font-size: 16px;
    font-weight: normal;
    color: #3f3f40;
}

.nav-right{
    justify-content: flex-end;
}

.icon-li{
    margin: 0 .3em;
}

.icon{
    height: 20px;
}

.contenedor-superior {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 2px solid #F2F2F0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
}

.contenedor-titulo img{
    height: 100px;

}

.contenedor-titulo .button{
    display: none;
    background-color: #ffffff
}

.buscador{
    border: 1px solid #841030;
    border-radius: 10px;
    padding: 7px;
    width: 250px;
    background-image: url(../img/prime_search.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

.buscador::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #841030;
}

.buscador:focus {
    outline: none;
}

.barra-navegacion{
    background-color: #F2E1E6;
}

.lista {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.lista li a {
    text-decoration: none;
    position: relative;
    font-weight: lighter;
    color: #7d7d7d;
    font-size: 21px;
}

.lista li a:hover{
    color: #841030;
}


.item a {
    text-decoration: none;
}

.contenedor-utilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-column: 5;
}


/* Carro de compra */
.color-cinta{
    background-color:#F2E1E6;
}
.contenedor-titulo-guia-tallas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 18px;
    justify-content:center;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.titulo{
    color: #841030;
}
.boton-volver a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.boton-volver a:hover{
    color: #841030;
}
.boton-volver img:hover{
    color: #841030;
    stroke: #841030;
}
.contenido-carrito{
justify-content: center;
padding: 50px;
text-align: center;
}

.estado-carrito{
    padding-bottom: 20px;
    font-size: larger;
}

.no-tienes-articulos{
font-size: 18px; 
padding: 10px;
}
.no-tienes-articulos a{
    color: #000;
    
}
.no-tienes-articulos a:hover{
    color:#841030;
}




/* Footer */
footer{
    background-color: #F2BDD0 ;
    
}

.contenedor-footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    padding-top: 3%;
    gap: 1%;
    padding-right: 5%;
}

.f-logo{
    padding-left: 15%;
    width: 60%;
    
}


.f-contacto{
    grid-column: 2;
}


.f-ph-logo{
    width: 8%;
    padding-left: 3%;
}
.f-telefono{
    padding-left: 3%;
    
}
.f-ig-logo{
    width: 8%;
    padding-left: 3%;
    align-items: center;
}

.f-content-text{
    padding-bottom: 3%;
}

.f-fb-logo{
    width: 8.9%;
    padding-left: 2.5%;
}

.f-ayuda{
    grid-column: 3;
}

.f-a:link , .f-a:visited , .f-a:hover , .f-a:active {
    text-decoration: none;
    color:#000;
}

.f-servclient{
    grid-column: 4;
}

.f-envios{
    grid-column: 5;
}


/* Propiedades acordeones footer */

.f-input-acord{
    display: none;
}

.f-label{
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    background: #F2C9D4;
    border-radius: 3px;
    transition: ease 1s;
    position: relative;
    font-weight: bold;
    color: #2c2b2b;
    
}

.f-label:hover{
    background: #fde4e9;
}

.f-content{
    background: #fcf1f3;
    padding: 1% 1%;
    border: 1px solid #fde4e9;
    margin: 0 0 1px 0;
    border-radius: 3px;
    
}

/* .f-input-acord+.f-label+.f-content{
    display: none;
} |- Esta propiedad activa la funcion de los acordeones */

.f-input-acord:checked+.f-label+.f-content{
    display:block;
}

.f-content, li{
    list-style-type: none;
}


/*resposive*/


@media only screen and (max-width: 480px) {

    .contenedor-superior{
        display: block;
    }

    .contenedor-titulo{
        justify-content: space-between;
    }

    .contenedor-titulo .button{
        display: block;
        cursor: pointer;
    }
    .svg{
        width: 2em;
        height: 2em;
        padding: 0 20px;
    }

    .contenedor-superior .navbar{
        flex-direction: column;
        /* display: none; */
        width: 100%;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
    }
    .contenedor-superior .navbar.activo{
        /* display: block; */
        height: 50vh;
        pointer-events: auto;
    }

    .contenedor-superior .lista{
        flex-flow: column;
    }

    /* Footer */

    .contenedor-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .f-logo{
        display: flex;
        max-width: 60% ;
        padding-left: 18%;
    }

    .f-ph-logo{
        width: 10%;
    }
    .f-telefono{
        padding-left: 3%;
        
        
    }
    .f-ig-logo{
        width: 10%;
        padding-left: 3%;
    }
    
    .f-fb-logo{
        width: 10.9%;
        padding-left: 2.5%;
    }

    .f-input-acord+.f-label+.f-content{
        display: none;
        }
    
        .f-label:hover{
        background: none;
        }
        .f-label:active{
        background-color: #841030;
        }
    .contenedor-footer{
        gap: 0%;
        padding-right: 0%;

    }


    /* cinta superior */
        .boton-volver{
            font-size: medium;
        }
        .titulo{
            font-size: larger;
        }
        /* cuerpo */
    
    
}