*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


.barra-envio{
    background-color: #000;
    color: #F2BDD0;
    text-align: center;
    padding: 0.8rem;
}

.contenedor-superior{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 100%;
}

.contenedor-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
}

.imagen-contenedor{
    height: 200px;
}


.buscador{
    border: 1px solid #841030;
    border-radius: 10px;
    padding: 5px;
    background-image: url(../img/prime_search.svg);
    background-repeat: no-repeat;
    background-position: 95% ;
}

.buscador::placeholder{
    font-weight: bold;
    opacity: 0.5;
    color: #841030;
}

.buscador:focus{
    outline: none ;
}

.contenedor-utilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.barra-navegacion{
    background-color: #F2E1E6;
}

.lista{
    display: flex;
    list-style: none;
    gap: 60px;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}

.item a{
    text-decoration: none;
}

.item a:visited  {
    color: #000;
}


.contenedor-main{
    background-image: url('../img/wedding-g1463dd25f_1280\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 500px;
    width: 80%;
    margin: auto;
    padding-right: 20px;
    text-align: center;
    font-size: 25px;
}

.contenido-main{
    text-align: start;
}

.contenido-main h2{
    color: #841030;
    font-weight: bold;
    
}

.contenido-main p{
    font-size: 20px;
    padding: 2px;
}

.contenido-main button{
    background-color: #F2BDD0;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 20px auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

.mySlides img{
    height: 550px;
    width: 550px;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }